
body{
    margin: 0;
}
video{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}


main{
      position: absolute;
      width: 19%;
      background: rgba(0,0,0,0.5);
      color: #fff;
      
      padding: 2%;
      margin: 1%;
      border-radius: 5%;
    
}

.foto-de-perfil{
    border-radius: 5%;
}

/*sección de foto de perfil ----container-----------------*/
/*
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container .box{
    position: relative;
    width: 20rem;
    height: 20rem;
    margin: 3rem;
}

.container .box:hover .imgBox{
    transform: translate(0rem, -1.5rem);
}

.container .box:hover .content{
    transform: translate(0rem, 20rem);
}

.imgBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    transition: all 0.5s ease-in-out;
}

.imgBox img{
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    resize: both;
    border-radius: 5%;
}
*/
/*------------------------------*/
.mis-datos{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5vw;
}
.información{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5vw;
}

/*
.cabecera{
   position: absolute;
    float: left;
    
    content: "";
    clear: both;
    display: inline-table;
    width:34.1%;
    height: 100px;
    padding: 5px;
   /* border: 1px solid blue;    */
   /* background-color:#0b296a; *
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 50%;*
  }*/





/*----- section--historial-*/

.historial{


    float:right;
    background: rgba(0,0,0,0.5);
    color: white;
   /* overflow: hidden;*/
   /* margin-left: 70%;*/
    padding: 1%;
    margin: 1%;
    width: 70%;
    border-radius: 2%;

  /*  display: flex;
    justify-content: flex-end;

    
    align: right;
    background: rgba(0,0,0,0.5);
    color: #fff;
    padding: 20px;
    margin: 5%;
    border-radius: 5%;
    

   /* position: absolute;
    
    height: 1024px;
    left: 432px;
    top: 0px;
    */

   /* float: right;
    display: block;
    width: 60%;
    height: 100%;
    padding: 5px;
    /*border: 1px solid blue;  */
    /*background-color: white; */
    
}

/*----texto----*/
/*
.cabecera{
    text-align: center;
    color: whitesmoke;
}
*/
.datos{
    color: aliceblue;
}

.titulo-historial{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.75vw;
    color: aqua;
    border-radius: 10px;
    background: linear-gradient(200deg, #0b296a, #295fb3, #7a8eb0);
    padding: 6px;
    width: 40%;
    height: 10%;
}

.segundo-titulo-historial{

    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vw;
    border-radius: 10px;
    background: linear-gradient(200deg, #0b296a, #295fb3, #7a8eb0);
    font-size: 120;
    color: aqua;
    padding: 5px;
    width: 40%;
    height: 10%;
}

.subtitulo-historial{

    border-radius: 10px;
    background: linear-gradient(200deg, #0b296a, #295fb3, #7a8eb0);
    font-family: Verdana;

    color: aqua;
    padding: 5px;
    width: 40%;
    height: 10%;
}



/* video {
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
    
    */

    /* 
.form-theme-background-video {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    pointer-events: none;
    position: fixed;
    width: 100%;
     */